:root {
    --darkcyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --verydarkblue: hsl(212, 21%, 14%);
    --darkgrayishblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --hover: hsl(158, 36%, 22%);
    --frauces: "Fraunces", serif;
    --montserrat: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    font-family: var(--montserrat);
    font-weight: 500;
    color: var(--darkgrayishblue);
    font-size: 0.875rem;
    line-height: 1.6;
}

.image img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.desktop {
    display: none;
}

.main {
    margin: 1.875rem 0;
}

.container {
    background-color: var(--white);
    border-radius: 8px;
    margin: 0 auto;
    width: 90%;
    max-width: 350px;
}

.content {
    padding: 1.25rem 1.25rem;
}

.content .uppercase {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0.625rem;
}

.content h1 {
    font-family: var(--frauces);
    color: var(--verydarkblue);
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1.25rem;
}

.pricing {
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    display: flex;
}

.new-price {
    font-family: var(--frauces);
    font-size: 2rem;
    color: var(--darkcyan);
    font-weight: 700;
}

.old-price {
    padding-left: 1.25rem;
    padding-top: 0.938rem;
    text-decoration: line-through;
}

.btn {
    background-color: var(--darkcyan);
    font-family: var(--montserrat);
    color: var(--white);
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 0;
    width: 100%;
    border: none;
    border-radius: 8px;
    height: auto;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--hover);
}

.btn svg {
    margin-right: 0.625rem;
    vertical-align: middle;
}

@media screen and (min-width: 48em) {
    .container {
        display: flex;
        flex-direction: row;
        max-width: 600px;
    }

    .image img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        height: 100%;
    }

    .content {
        width: 90%;
    }

    .content h1 {
        font-size: 2.3rem;
        margin-top: 0.938rem;
        margin-bottom: 1.875rem;
    }

    body {
        font-size: 0.92rem;
    }

    .main {
        margin: 8rem 0;
    }
}